/* Reset básico */
* {
    margin: 10;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* logo Imagem */
.logo {
    width: 200px;
    display: block;
    margin: 20px auto;
    
}


/* Corpo da página */
body {
    height: 100vh;
    background: linear-gradient(135deg, #2e7d32, #81c784);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Caixa principal */
.container {
    background-color: #ffffff;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Títulos */
.container h1 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.container h2 {
    color: #555;
    margin-bottom: 20px;
}

/* Labels */
.container h3 {
    text-align: left;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

/* Select e inputs */
select,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Foco */
select:focus,
input:focus {
    outline: none;
    border-color: #2e7d32;
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #1b5e20;
}

/* Mensagem de erro */
.pMensagem {
    margin-top: 15px;
    color: red;
    font-size: 14px;
}


.pagina {
    max-width: 500px;
    margin: 60px auto;
    padding: 30px;
    text-align: center;
    border: 2px solid #2e7d32;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.pagina h1 {
    color: #2e7d32;
}

.pagina p {
    font-size: 16px;
    margin: 20px 0;
}

.pagina button {
    padding: 10px 20px;
    background-color: #2e7d32;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagina button:hover {
    background-color: #1b5e20;
}
